.btn{
    &:link, &:visited{
        padding: 1.5rem 4rem;
        display: inline-block;
        text-decoration: none;
        border:0;
        border-radius: 20rem;
        transition: all 0.4s;
        position: relative;
        
    }
    
    &:hover{
        transform: translateY(-0.4rem);
        box-shadow: 0 1rem 2rem rgba($color-black,0.3);

        &::after{
            transform: scale(1.5);
            opacity: 0;
        }
    }
    
    &:active{
        transform: translateY(-0.2rem);
        box-shadow: 0 .5rem 1rem rgba($color-black,0.2);
    }
    
    &-white{
        color: $color-primary;
        background-color: $color-white;
        font-weight: 700;
        font-size: 2rem;
        
        &::after{
            background-color: $color-white;
        }
    }
    
    &::after{
        content: '';
        height: 100%;
        width: 100%;
        border: 0;
        border-radius: 20rem;
        display: inline-block;
        position: absolute;
        top:0;
        left: 0;
        z-index: -1;
        transition: all 0.6s;
    }
    
    &-animated{
        animation-name: moveInBottom;
        animation-duration: 2s;
    }  
}

.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: .1rem solid $color-primary;
        padding:.3rem;
        transition: all 0.2s;
    }

    &:hover{
        background-color: $color-primary;
        color: $color-white;
        transform: translateY(-0.4rem);
        box-shadow: 0 1rem 2rem rgba($color-black,0.3);
    }

    &:active{
        transform: translateY(-0.2rem);
        box-shadow: 0 .5rem 1rem rgba($color-black,0.2);
    }
}